.navbar {
  height: 70px;
  margin-bottom: 50px;
  background-color: #302c2c;
}

.navbar-brand.active {
  color: #ffd702;
}

.navbar-nav .nav-item.active a {
  color: #ffd702;
}

a {
  color: white;
}
a:hover {
  color: #ffd702;
  cursor: pointer;
}
