<div class="container">
  <div class="row">
    <div
      class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex"
      *ngFor="let item of mangaData.data"
    >
      <div
        class="card mx-auto"
        style="margin-top: 10px"
        (click)="getMangaDetails(item.mal_id)"
      >
        <div class="card-body h-100">
          <img
            class="card-img-top"
            src="{{ item.images.webp.large_image_url }}"
          />
          <div class="card-body">
            <p class="card-text text-center">
              {{ item.title }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
